{
   
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "browsers": ["last 2 versions", "> 5% in BE"],
            "uglify": true,  
            "node": "10"
          }
        }
      ],
      "@babel/preset-react"
    ],
 
"plugins": ["@babel/plugin-proposal-class-properties"]
}